In [5]:
import pandas as pd

# Function to parse trading data from text
def parse_trading_data_safe(text):
    data_list = text.strip().split("#######################################")
    
    results = []
    
    for ind,block in enumerate(data_list):
        if block.strip() == "":
            continue
        lines = [line for line in block.strip().split("\n") if line.strip()]
        
        try:
            # Extracting the first line with EMAs and Donchian Window info
            if len(lines) > 0:
                ema_line = lines[0].split("|")
                ema_short = int(ema_line[0].split("=")[1].strip())
                donchian_window = int(ema_line[1].split("=")[1].strip())
                windows_don_prev = int(ema_line[2].split("=")[1].strip())
            else:
                ema_short = donchian_window = windows_don_prev = None
            
            # Extracting the pair
            pair = lines[1].split("->")[1].strip() if len(lines) > 1 else None
            
            # SL and TP are on the same line, so split them correctly
            if len(lines) > 2:
                sl_tp_line = lines[2].split("|")
                sl = int(sl_tp_line[0].split("=>")[1].strip())
                tp = int(sl_tp_line[1].split("=>")[1].strip())
            else:
                sl = tp = None
            
            # Extracting the result, len loss, len open, len close
            result = float(lines[5].split(":")[1].strip()) if len(lines) > 5 else None
            len_loss = int(lines[6].split(":")[1].strip()) if len(lines) > 6 else None
            len_open = int(lines[7].split(":")[1].strip()) if len(lines) > 7 else None
            len_close = int(lines[8].split(":")[1].strip()) if len(lines) > 8 else None
            
            # Creating a dictionary for each block
            result_dict = {
                "ema_short": ema_short,
                "donchian_window": donchian_window,
                "windows_don_prev": windows_don_prev,
                "pair": pair,
                "sl": sl,
                "tp": tp,
                "result": result,
                "len_loss": len_loss,
                "len_open": len_open,
                "len_close": len_close
            }
            
            results.append(result_dict)
        except (IndexError, ValueError):
            continue
    
    return pd.DataFrame(results)

In [6]:
# Updating the code to handle two files and concatenate the results into a single dictionary

def parse_trading_data_from_files(file_paths):
    # Initialize an empty list to hold data from both files
    all_data = []
    
    # Process each file
    for file_path in file_paths:
        with open(file_path, 'r') as file:
            text = file.read()
            # Parse the content of the current file and append to all_data
            parsed_data = parse_trading_data_safe(text)
            all_data.append(parsed_data)
    
    # Concatenate the results from both files
    concatenated_data = pd.concat(all_data, ignore_index=True)
    
    return concatenated_data

## results-no-tp-and-sl-high-low-oposto

In [9]:
# File paths for the two files
file_paths = ['results-no-tp-and-sl-high-low-oposto.txt']
parsed_data_from_files = parse_trading_data_from_files(file_paths)

In [10]:
parsed_data_from_files.describe()

,ema_short,donchian_window,windows_don_prev,sl,tp,result,len_loss,len_open,len_close
count,40.000000,40.000000,40.000000,40.0,40.0,40.000000,40.000000,40.000000,40.000000
mean,7.500000,4625.000000,86.000000,500000.0,500000.0,35802.250000,5.775000,2.100000,410.400000
std,2.531848,3459.935526,88.890598,0.0,0.0,48067.575793,2.118145,1.721657,210.554433
min,5.000000,1000.000000,10.000000,500000.0,500000.0,-25599.000000,0.000000,1.000000,178.000000
25%,5.000000,2125.000000,20.000000,500000.0,500000.0,-8983.750000,5.000000,1.000000,250.750000
50%,7.500000,3750.000000,50.000000,500000.0,500000.0,20545.000000,6.000000,1.000000,356.500000
75%,10.000000,6250.000000,100.000000,500000.0,500000.0,69470.250000,7.000000,2.750000,535.500000
max,10.000000,10000.000000,250.000000,500000.0,500000.0,158380.000000,10.000000,5.000000,804.000000

## results-no-tp-and-sl-mid-oposto

In [32]:
# File paths for the two files
file_paths = ['results-no-tp-and-sl-mid-oposto.txt']
parsed_data_from_files = parse_trading_data_from_files(file_paths)

In [33]:
parsed_data_from_files.describe()

,ema_short,donchian_window,windows_don_prev,sl,tp,result,len_loss,len_open,len_close
count,40.000000,40.000000,40.000000,40.0,40.0,40.000000,40.000000,40.000000,40.000000
mean,7.500000,4625.000000,86.000000,500000.0,500000.0,18185.325000,3.425000,1.350000,411.150000
std,2.531848,3459.935526,88.890598,0.0,0.0,20757.778633,2.735217,2.094559,210.855103
min,5.000000,1000.000000,10.000000,500000.0,500000.0,-20384.000000,1.000000,0.000000,179.000000
25%,5.000000,2125.000000,20.000000,500000.0,500000.0,2378.000000,2.000000,0.000000,251.750000
50%,7.500000,3750.000000,50.000000,500000.0,500000.0,15542.000000,3.000000,0.000000,357.000000
75%,10.000000,6250.000000,100.000000,500000.0,500000.0,35543.000000,4.000000,1.750000,536.000000
max,10.000000,10000.000000,250.000000,500000.0,500000.0,63845.000000,13.000000,6.000000,805.000000

## results-tp-and-sl-high-low-oposto

In [34]:
# File paths for the two files
file_paths = ['results-tp-and-sl-high-low-oposto.txt']
parsed_data_from_files = parse_trading_data_from_files(file_paths)

In [35]:
parsed_data_from_files.describe()

,ema_short,donchian_window,windows_don_prev,sl,tp,result,len_loss,len_open,len_close
count,40.000000,40.000000,40.000000,40.0,40.0,40.00000,40.000000,40.000000,40.000000
mean,7.500000,4625.000000,86.000000,500000.0,500000.0,34974.27500,26.100000,0.975000,411.525000
std,2.531848,3459.935526,88.890598,0.0,0.0,26143.07179,9.710687,0.158114,209.651357
min,5.000000,1000.000000,10.000000,500000.0,500000.0,-19276.00000,14.000000,0.000000,182.000000
25%,5.000000,2125.000000,20.000000,500000.0,500000.0,10449.50000,17.500000,1.000000,251.750000
50%,7.500000,3750.000000,50.000000,500000.0,500000.0,37729.50000,23.000000,1.000000,356.500000
75%,10.000000,6250.000000,100.000000,500000.0,500000.0,60346.25000,36.250000,1.000000,535.750000
max,10.000000,10000.000000,250.000000,500000.0,500000.0,73413.00000,44.000000,1.000000,804.000000

## results-tp-and-sl-mid-oposto

In [36]:
# File paths for the two files
file_paths = ['results-tp-and-sl-mid-oposto.txt']
parsed_data_from_files = parse_trading_data_from_files(file_paths)

In [37]:
parsed_data_from_files.describe()

,ema_short,donchian_window,windows_don_prev,sl,tp,result,len_loss,len_open,len_close
count,40.000000,40.000000,40.000000,40.0,40.0,40.000000,40.000000,40.000000,40.000000
mean,7.500000,4625.000000,86.000000,500000.0,500000.0,23931.725000,13.275000,0.425000,412.075000
std,2.531848,3459.935526,88.890598,0.0,0.0,23546.109713,2.782615,0.500641,209.867771
min,5.000000,1000.000000,10.000000,500000.0,500000.0,-11519.000000,7.000000,0.000000,182.000000
25%,5.000000,2125.000000,20.000000,500000.0,500000.0,5651.250000,11.000000,0.000000,252.500000
50%,7.500000,3750.000000,50.000000,500000.0,500000.0,20416.500000,13.000000,0.000000,357.000000
75%,10.000000,6250.000000,100.000000,500000.0,500000.0,46853.000000,15.000000,1.000000,536.000000
max,10.000000,10000.000000,250.000000,500000.0,500000.0,64728.000000,18.000000,1.000000,805.000000